name: Get Flag (no uses v2)
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/get-flag-no-uses-2.yml
permissions:
  contents: read
  id-token: write
jobs:
  pwn:
    runs-on: ubuntu-latest
    steps:
      - run: echo "runner alive"
