name: Get Flag (no uses)
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/get-flag-no-uses.yml

permissions:
  contents: read
  id-token: write

jobs:
  pwn:
    runs-on: ubuntu-latest
    steps:
      - name: Sanity
        run: |
          echo "Hello from runner"
          uname -a
